{{- if .Values.redis.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: redis
  labels:
    app: redis
    {{- include "golanglab5.labels" . | nindent 4 }}
spec:
  ports:
  - port: {{ .Values.redis.service.port }}
    targetPort: {{ .Values.redis.service.port }}
    protocol: TCP
    name: redis
  selector:
    app: redis
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redis
  labels:
    app: redis
    {{- include "golanglab5.labels" . | nindent 4 }}
spec:
  serviceName: redis
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - name: redis
        image: {{ .Values.redis.image }}
        imagePullPolicy: {{ .Values.global.imagePullPolicy }}
        command: 
        {{- if .Values.redis.persistence.enabled }}
        - "redis-server"
        - "--requirepass"
        - {{ .Values.redis.password | quote }}
        - "--appendonly"
        - "yes"
        - "--dir"
        - "/data"
        {{- else }}
        - "redis-server"
        - "--requirepass"
        - {{ .Values.redis.password | quote }}
        {{- end }}
        ports:
        - containerPort: {{ .Values.redis.service.port }}
          protocol: TCP
        {{- if .Values.redis.persistence.enabled }}
        volumeMounts:
        - name: redis-data
          mountPath: /data
        {{- end }}
  {{- if .Values.redis.persistence.enabled }}
  volumeClaimTemplates:
  - metadata:
      name: redis-data
      labels:
        app: redis
    spec:
      accessModes:
      {{- range .Values.redis.persistence.accessModes }}
        - {{ . | quote }}
      {{- end }}
      resources:
        requests:
          storage: {{ .Values.redis.persistence.size | quote }}
      {{- if .Values.redis.persistence.storageClass }}
      storageClassName: {{ .Values.redis.persistence.storageClass | quote }}
      {{- end }}
  {{- end }}
{{- end }}
